/*
====================================
------------------------------------

    1. Typography
    2. Header
    3. Slider
    4. Services
    5. Prices
    6. Footer
    7. Us
    8. Service
    9. Test Form
    10. Archive
    11. Entry
    12. Legal
    
-------------------------------------
=====================================
*/
/* line 22, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_contents.scss */
.general {
  padding: 0;
}

@media (min-width: 1620px) {
  /* line 27, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_contents.scss */
  .imagen {
    height: 50em;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1580px) {
  /* line 34, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_contents.scss */
  .imagen {
    height: 40em;
    width: 100%;
  }
}

@media (max-width: 767px) {
  /* line 41, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_contents.scss */
  .menu {
    position: absolute;
    top: 2em;
    right: 12em;
  }
  /* line 46, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_contents.scss */
  .imagen {
    height: 30em;
    width: 100%;
  }
}

@media (max-width: 479px) {
  /* line 53, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_contents.scss */
  .menu {
    position: absolute;
    top: 2em;
    right: 12em;
  }
  /* line 58, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_contents.scss */
  .imagen {
    height: 12em;
    width: 100%;
  }
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 9, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
body {
  margin: 0;
}

/* Container
   ========================================================================== */
/* line 27, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
.container {
  width: 100%;
  padding: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 42, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 63, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 76, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 86, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 98, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 107, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 119, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 127, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 136, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 145, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 154, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 163, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 171, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 179, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 183, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 187, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
label {
  margin-bottom: 0;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 198, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 206, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 217, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 225, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 234, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 242, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 265, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 279, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 290, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 303, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 315, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 324, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 335, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 347, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 359, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 369, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 380, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 391, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 400, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 409, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 420, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 425, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
td,
th {
  padding: 0;
}

/* List
==============================================================================*/
/* line 432, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/base/_normalize.scss */
ol, ul {
  list-style: none;
}

/* line 1, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
.carta {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 12, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
.tarjeta-wrap {
  margin: auto 2em;
  -webkit-perspective: 800;
  perspective: 800;
}

/* line 17, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
.tarjeta {
  width: 20em;
  height: 25em;
  background: #127cc1;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
}

/* line 29, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
.adelante, .atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 38, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
.adelante {
  width: 100%;
}

/* line 41, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
.atras {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: "open sans";
}

/* line 62, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
.tarjeta-wrap:hover .tarjeta {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@media (min-width: 1620px) {
  /* line 70, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
  .carta {
    margin-left: 60em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1580px) {
  /* line 85, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
  .carta {
    margin-left: 35%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  /* line 96, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
  .tarjeta-wrap {
    margin: 0em 1.5em;
  }
  /* line 99, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
  .tarjeta {
    width: 14em;
    height: 19em;
    background: #127cc1;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s ease;
    transition: .7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  }
}

@media (max-width: 767px) {
  /* line 113, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
  .carta {
    margin-left: 15%;
    display: inline-block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  /* line 121, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
  .tarjeta-wrap {
    margin: 1em 0em;
  }
  /* line 124, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
  .tarjeta {
    width: 10em;
    height: 15em;
    background: #127cc1;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s ease;
    transition: .7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  }
}

@media (max-width: 479px) {
  /* line 139, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
  .carta {
    margin-left: 5em;
    display: inline-block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  /* line 147, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
  .tarjeta-wrap {
    margin: 1em 0em;
  }
  /* line 150, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_flip.scss */
  .tarjeta {
    width: 10em;
    height: 15em;
    background: #127cc1;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s ease;
    transition: .7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  }
}

/* line 1, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_navbar.scss */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #127cc1;
  background-color: rgba(18, 124, 193, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

/* line 14, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_navbar.scss */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* line 22, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_navbar.scss */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* line 31, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_navbar.scss */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* line 35, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_navbar.scss */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media (max-width: 479px) {
  /* line 43, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_navbar.scss */
  .overlay a {
    font-size: 20px;
  }
  /* line 44, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_navbar.scss */
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* line 1, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_slider.scss */
.galeria {
  margin-top: 2em;
}

/* line 4, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_slider.scss */
.buscador {
  position: absolute;
  top: 35em;
  left: 20em;
}

/* line 9, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_slider.scss */
.articulos {
  margin-bottom: 3em;
}

@media (min-width: 1620px) {
  /* line 14, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_slider.scss */
  .buscador {
    position: absolute;
    top: 40em;
    left: 35em;
    background-color: rgba(18, 124, 193, 0.5);
    padding: 1em;
    z-index: +1;
  }
}

@media (min-width: 768px) and (max-width: 1580px) {
  /* line 24, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_slider.scss */
  .buscador {
    position: absolute;
    top: 1em;
    left: 30%;
    background-color: rgba(18, 124, 193, 0.5);
    padding: 1em;
    z-index: +1;
  }
}

@media (max-width: 767px) {
  /* line 34, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/components/_slider.scss */
  .buscador {
    position: absolute;
    top: 0.5em;
    left: 3em;
  }
}

/* line 1, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/layout/_footer.scss */
.footer {
  margin-top: 2em;
  background-color: rgba(18, 124, 193, 0.5);
}

/* line 6, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/layout/_footer.scss */
#text {
  margin-top: 3em;
}

/* line 1, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/layout/_header.scss */
.cabecera {
  padding-top: 2em;
  margin-bottom: 3em;
  border-bottom: 1px solid;
}

/* line 6, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/layout/_header.scss */
.cabecera span {
  position: absolute;
  top: 2em;
  right: 1em;
}

/* line 13, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/layout/_header.scss */
.cabecera .logo {
  margin-bottom: 2em;
}

/* line 2, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/pages/_contact.scss */
.input-contact {
  margin: 2em;
  margin-left: 60%;
}

/* line 7, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/pages/_contact.scss */
.pie {
  margin-top: 2em;
  background-color: rgba(18, 124, 193, 0.5);
}

/* line 11, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/pages/_contact.scss */
.error {
  color: #e74c3c;
}

/*# sourceMappingURL=../css/app.map */