.general {   
    padding: 0;
}
.cabecera {
    padding-top: 2em;
    margin-bottom: 3em;
    border-bottom: 1px solid; 
}
.cabecera>span {

    position: absolute ;
    top: 2em;
    right: 1em;   
}
.logo {
    margin-bottom: 2em;
}
.galeria {
    margin-top: 2em;
}
.buscador {
   position: absolute ;
   top: 35em;
   left: 20em;
}
.articulos {
    margin-bottom: 3em; 
}
.footer {
    margin-top: 2em;
    background-color: #f1f1f1
}
.facebook {   
    margin-left: 5em;
}
#text {
    margin-top: 3em;
}

/* nav desplegable */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(18,124,193);
    background-color: rgba(18,124,193,0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/*Flip*/ 

.carta{
    margin: auto;
    display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.tarjeta-wrap{
	margin: auto 2em;
	-webkit-perspective: 800;
	perspective: 800;
}
.tarjeta{
	width: 20em;
	height: 25em;
	background: #127cc1;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}
.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.adelante{
	width: 100%;
}
.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: center;
	color: #fff;
	font-family: "open sans";
}
.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/*Responsive*/ 

@media (min-width:1051px) and (max-width:1980px){
    .buscador {
        position: absolute;
        top: 40em;
        left: 35em;
        background-color: rgba(18,124,193,0.5);
        padding: 1em; 
        z-index: +1;
     }
     .imagen {
         height: 50em;
         width: 100%;
     }
     .carta{      
        margin-left: 60em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
@media (min-width:768px) and (max-width:1050px){
    .buscador {
        position: absolute;
        top: 1em;
        left: 12em;
        background-color: rgba(18,124,193,0.5);
        padding: 1em; 
        z-index: +1;
     }
     .imagen {
        height: 15em;
        width: 100%;
    }
    .carta{      
        margin-left: 10em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .tarjeta-wrap{
        margin: 0em 1em;
    }
    .tarjeta{
        width: 10em;
        height: 15em;
        background: #127cc1;
        position: relative;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: .7s ease;
        transition: .7s ease;
        -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
        box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    }
}
@media (max-width:767px){
    .buscador {
        position: absolute;
        top: 0.5em;
        left: 3em;
     }
     .carta{
        margin-left: 5em;
        display: inline-block;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .tarjeta-wrap{
        margin: 1em 0em;
    }
    .tarjeta{
        width: 10em;
        height: 15em;
        background: #127cc1;
        position: relative;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: .7s ease;
        transition: .7s ease;
        -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
        box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    }
    .menu {
        position: absolute ;
        top: 2em;
        right: 12em;
    }
    .imagen {
        height: 15em;
        width: 100%;
    }
}
@media (max-width:479px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}