@media (min-width: 1051px) and (max-width: 1980px) {
  /* line 2, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .buscador {
    position: absolute;
    top: 40em;
    left: 35em;
    background-color: rgba(18, 124, 193, 0.5);
    padding: 1em;
    z-index: +1;
  }
  /* line 10, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .imagen {
    height: 50em;
    width: 100%;
  }
  /* line 14, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .carta {
    margin-left: 60em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1050px) {
  /* line 27, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .buscador {
    position: absolute;
    top: 1em;
    left: 12em;
    background-color: rgba(18, 124, 193, 0.5);
    padding: 1em;
    z-index: +1;
  }
  /* line 35, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .imagen {
    height: 15em;
    width: 100%;
  }
  /* line 39, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .carta {
    margin-left: 10em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  /* line 50, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .tarjeta-wrap {
    margin: 0em 1em;
  }
  /* line 53, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .tarjeta {
    width: 10em;
    height: 15em;
    background: #127cc1;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s ease;
    transition: .7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  }
}

@media (max-width: 767px) {
  /* line 67, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .buscador {
    position: absolute;
    top: 0.5em;
    left: 3em;
  }
  /* line 72, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .carta {
    margin-left: 5em;
    display: inline-block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  /* line 80, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .tarjeta-wrap {
    margin: 1em 0em;
  }
  /* line 83, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .tarjeta {
    width: 10em;
    height: 15em;
    background: #127cc1;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s ease;
    transition: .7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  }
  /* line 95, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .menu {
    position: absolute;
    top: 2em;
    right: 12em;
  }
  /* line 100, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .imagen {
    height: 15em;
    width: 100%;
  }
}

@media (max-width: 479px) {
  /* line 106, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .overlay a {
    font-size: 20px;
  }
  /* line 107, C:/Users/Desarrollo Web/Desktop/Ejercicios/practicahome/sass/helpers/media_query.scss */
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*# sourceMappingURL=../../css/helpers/media_query.map */